*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* body{
    background-color: rgba(17,24,39,var(--tw-bg-opacity));
} */
/* Navbar */
/* ********************************************************** */
.container {
    width: 100%;
    /* height: 100vh; */
    padding-left: 2%;
    padding-right: 2%;
    box-sizing: border-box;
    display: flex;
    /* border: 10px solid pink; */
}

.navbar {
    /* background-color: black; */
    width: 95%;
    height: 12%;
    /* border: solid red; */
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    color: greenyellow;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul,
li a {
    text-decoration: none;
    color: greenyellow;
    font-family: cursive;
    font-size: 17px;
}

.menuicon {
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}

/* navbar ends here */


/* container 2 */
.container2 {
    position: relative;
    width: 100%;
    margin: auto;
    /* background-color: bisque; */
    /* background-color: lime; */
    /* color: white; */
    display: flex;
    color: black;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    height: 500px;    
    row-gap: 20px;
    /* border: 2px solid pink; */
}
#nav2{
    padding-top: 10px;
    /* border: 3px solid blue; */
    margin: 20px;
    /* height: 100%; */
}
#nav2 li{
    border: 2px solid black;
    display: inline;
    padding:10px 50px ;
    list-style: none; 
    background-color: lime;
    margin: 0 10px; 
}
#nav2 li:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.591);
    cursor: pointer;
    background-color: grey;
    color: black;
}
#nav2 ul{
    margin: 5px 0;
}
#nav2 a{
    color: black;
    text-decoration: none;

}


/* RESUME */
/* /////////////////////////////////////////////////////////////////////////////////////////////// */
.container{
    display: flex;
}

.uploadresume{
    border: 2px solid;
    height: 400px;
    width: 40%;
    margin: 20px;
    padding: 20px;
    margin-left: 100px;
    margin-top: 100px;
    position: relative;
    /* display: flex; */
    /* flex-direction: row; */
}

.uploadresume .text{
    text-align: center;
}

/* .uploadbtn
{
    background-color: magenta;
    height: 200px;
    position: relative;
    top: 20px;
    margin: 0 50px;
    width: 171px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    border-radius: 15px;
} */
.uploadbtn {
    background-color: white;
    height: 200px;
    position: relative;
    margin: 20px auto;
    width: 171px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
}
.decriptio
{
    /* background-color: magenta; */
    /* height: 200px; */
    position: relative;
    top: 20px;
    margin: 0 50px;
    width: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 15px;

}
#job-role {
    padding: 6px;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
  }

#job-role option[disabled] {
    color: #999; /* Placeholder text color */
  }
  
  
.submitbtn{
    position: relative;
    top: 40px;
    margin: 0 50px;
    width: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

button
{
    height: 30px;
    width: 100px;
}



.tempimg
{
    border: 2px solid blue;
    height: 70%;
    width: 50%;
    position: relative;
    display: flex;
    /* flex-direction: ; */
    justify-content: center;
    align-items: center;
    left: 150px;

}


.overlappresume{
    background-color: magenta;
    height: 200px;
    width: 171px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    position:absolute;
    top: 10px; 
    /* left: px; */
    right: 10px;
    border: 2px solid black;
}

#one {
    left: 10px;
    background-color: red;

}

#two {
    left: 25px; /* adjust this value to overlap */
    background-color: white;
    top: 20px;
}

#three {
    left: 40px; 
    top: 30px;/* adjust this value to overlap */
}


.checkresume
{
    padding: 10px;
    position: relative;
    top: 20px;
    left: 200px;
    /* display: inline; */
    /* display: block; */
}

button{
    color: pink;
    height: 40px;
    width: 20%;
}

.op
{
    display: inline;
    padding: 10px;
}







/* CSS */
#c1
{
  font-size: 20px;
  font-weight: 600;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(45deg, #ffe61b, #ffb72b, #ebf400);
  background-size: 400% 400%;
  animation: animate 8s ease-in infinite;
  overflow: hidden;
}