<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Learnings</title>

  <!-- <link rel="stylesheet" href="learning.css"> -->
  {% load static %}
  {% comment %}
  <link rel="stylesheet" href="{% static '/learning.css' %}" /> {% endcomment %}
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  {% load static %}
  <link rel="stylesheet" href="{% static '/final.css' %}" />
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  {% load static %}
  <link rel="stylesheet" href="{% static '/final.css' %}" />
  <link
    href="https://fonts.googleapis.com/css2?family=Kaushan+Script&amp;family=Oxygen:wght@300;400;700&amp;family=Poppins:wght@100&amp;display=swap"
    rel="stylesheet">
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>

<body>
  <!--Header-->
  <header class="text-gray-400 bg-gray-900 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0" href="{% url 'landingpage' %}">
        <span class="ml-3 text-2xl" id="title1">Logiplacement</span>
      </a>
      <nav class="md:ml-auto md:mr-auto flex items-center text-base justify-center gap-5">
        <a class="ml-5 mr-5 hover:text-white" href="{% url 'landingpage' %}">Home</a>
        <a class="mr-5 hover:text-white" href="{% url 'prediction' %}">Prediction</a>
        <a class="mr-5 hover:text-white" href="{% url 'resumepage' %}">Resume</a>
        <a class="mr-5 hover:text-white" href="{% url 'learning' %}">Learning</a>
        <!-- <a class="mr-5 hover:text-white" href="{% url 'signup' %}">signup</a> -->
        <!-- <a class="mr-5 hover:text-white">About Us</a>
        <a class="mr-5 hover:text-white">Contact</a> -->

      </nav>
      <!-- HTML !-->
    </div>
  </header>
  
  <section class="text-gray-400 bg-gray-900 body-font ">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
      <div class="lg:w-1/2 w-full mb-10 lg:mb-0 rounded-lg overflow-hidden">
        <h1
          class="text-2xl font-medium title-font mb-4 text-white text-center tracking-widest md:mb-6 lg:text-3xlmb-4 text-center text-2xl font-bold">
          Interview Section</h1>
        <img alt="feature" class="object-cover object-center h-full w-full"
          src="https://cdn.dribbble.com/users/2759825/screenshots/11653908/media/4d88e1efa006716b89101914751bf4ed.gif">
      </div>
      <div class="flex flex-col flex-wrap lg:py-6 -mb-10 lg:w-1/2 lg:pl-12 lg:text-left text-center">
        <div class="flex flex-col mb-10 lg:items-start items-center">
          <div
            class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              class="w-6 h-6" viewBox="0 0 24 24">
              <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
            </svg>
          </div>
          <div class="flex-grow">
            <h2 class="text-white text-2xl title-font font-medium mb-3 animate-pulse">Interview</h2>
            <p class="leading-relaxed text-base">
              "Unlock insights from our latest interview PDF, available now on our website. Dive into engaging discussions and gain valuable perspectives."</p>
            <a href="{% url 'interview' %}"class="mt-3 text-indigo-500 inline-flex items-center">Learn More
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
        <div class="flex flex-col mb-10 lg:items-start items-center">
          <div
            class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              class="w-6 h-6" viewBox="0 0 24 24">
              <circle cx="6" cy="6" r="3"></circle>
              <circle cx="6" cy="18" r="3"></circle>
              <path d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"></path>
            </svg>
          </div>
          <div class="flex-grow">
            <h2 class="mt-4 text-white text-2xl title-font font-medium mb-3 animate-pulse">Respository</h2>
            <p class="leading-relaxed text-base">
              "Discover a treasure trove of interviews in our repository! Visit our website to uncover valuable insights and diverse perspectives."</p>
            <a href="https://github.com/topics/interview-repository" class="mt-3 text-indigo-500 inline-flex items-center">Learn More
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
        <div class="flex flex-col mb-10 lg:items-start items-center">
          <div
            class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              class="w-6 h-6" viewBox="0 0 24 24">
              <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
              <circle cx="12" cy="7" r="4"></circle>
            </svg>
          </div>
          <div class="flex-grow">
            <h2 class="text-white text-2xl title-font font-medium mb-3 animate-pulse">Articles</h2>
            <p class="leading-relaxed text-base">"Dive into our collection of thought-provoking articles! Explore our website for a wealth of insights and engaging content."</p>
            <a href="https://web.dev/articles" class="mt-3 text-indigo-500 inline-flex items-center">Learn More
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="section-divider-css relative container px-5 py-24 mx-auto">
      <div class="bg-white py-6 sm:py-8 lg:py-12 bg-gray-900 w-full">
        <div class="mx-auto max-w-screen-2xl px-4 md:px-8 ">
          <!-- text - start -->
          <div class="mb-10 md:mb-16">
            <h2 class="mb-4 text-center text-2xl font-bold md:mb-6 lg:text-3xl text-white animate-pulse">
              Collections</h2>

            <p class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg">
              "Dive into our roadmap for accessible learning materials that inspire and inform!"</p>
          </div>
          <!-- text - end -->

          <div class="grid gap-6 sm:grid-cols-2 ">
            <!-- product - start -->
            <a href="{% url 'roadmap' %}"
              class="group relative flex h-80 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg transform transition-transform hover:rotate-6">
              <img src="https://i.pinimg.com/originals/e0/58/ee/e058eecc0652ff38a4e7062cfcf08c9d.gif" loading="lazy"
                alt="roadmap"
                class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />

              <div
                class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50">
              </div>

              <div class="relative flex flex-col">
                <span class="text-gray-300 animate-bounce">Click Here 👇</span>
                <span class="text-lg font-semibold text-white lg:text-xl ">RoadMaps</span>
              </div>
            </a>
            <!-- product - end -->

            <!-- product - start -->
            <a href="{% url 'links' %}"
              class="group relative flex h-80 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg transform transition-transform hover:rotate-6">
              <img src="https://www.ameba.com.uy/wp-content/uploads/2016/03/animacion-lobo-2.gif" loading="lazy"
                alt="links"
                class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />

              <div
                class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50">
              </div>

              <div class="relative flex flex-col">
                <span class="text-gray-300 animate-bounce">Click Here 👇 </span>
                <span class="text-lg font-semibold text-white lg:text-xl">Explore the Study material</span>
              </div>
            </a>
            <!-- product - end -->
          </div>
        </div>
      </div>
  </section>

  <footer class="text-gray-400 bg-gray-900 body-font">
    <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">

        <span class="ml-3 text-xl">LogiPlacement</span>
      </a>
      <p class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4">© 2024
        @Logplacement —
        <a href="#" class="text-gray-500 ml-1" target="_blank" rel="noopener noreferrer">BE
          Comp</a>
      </p>

    </div>
  </footer>
</body>

</html>